/* Général */
@font-face{
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
*:focus,
*:active{
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
*{
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body{
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	margin: 0;
}

/* Header */
header{
	display: flex;
	background-color: #f9f9fb;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
}
#boxCentre{
	display: flex;
	justify-content: center;
	width: 45%;
	margin: auto;
}
#boxCentre > img{
	width: 390px;
	height: 98px;
	padding: 10px 0;
	line-height: 98px;
	text-align: center;
	user-select: none;
}

/* Corps */
h1,
h2{
	width: 70%;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
h2{
	font-size: 18px;
	padding: 10px 0 5px 0;
	border-width: 0 0 2px 0;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > section{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 60vw;
	margin: 20px 0;
	padding: 30px 0;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 15px 20px -15px #cecece;
}

	/* Section tableau */
#tableauContacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	border: 2px solid #cecece;
	border-radius: 5px;
	height: calc(100vh - 118px - 40px - 60px - 61px - 4px);
}
#colonneGauche,
#colonneDroite{
	width: calc(50% - 1px);
	height: calc(100% - 52px);
}
p{
	width: 100%;
	text-align: center;
}

	/* Entrées */
input,
input::placeholder,
select,
button{
	font-family: "Open Sans", Arial, sans-serif;
	width: 80%;
	margin: 10px 0;
	padding-left: 5px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #cecece;
	border-radius: 5px;
}
input,
button,
select{
	border: none;
	background-color: #dadada;
	color: #000000;
	transition: 0.3s;
}
button:hover,
input:hover{
	background-color: #cacaca;
	transition: 0.3s;
}
button:active,
input:active{
	background-color: #b4b4b4;
	transition: 0.3s;
}
input:hover:not(input[type=submit]):not(input[type=reset]),
input:focus:not(input[type=submit]):not(input[type=reset]){
	background-color: #bebebe;
	transition: 0.3s;
}
input[type=submit],
input[type=reset],
button,
select{
	cursor: pointer;
	height: 36px;
}
input:focus{
	text-align: left;
}
select{
	height: calc(30px + 2px) !important;
	border: none;
	padding: 0;
}

	/* Champs de recherche (haut) */
#champsRecherche{
	display: flex;
	justify-content: center;
	height: 50px;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ececec;
	border-radius: unset;
}
#champsRecherche > label{
	display: none;
}
#champsRecherche > input{
	width: 90%;
	margin: 8px 0;
}

	/* Liste contacts (gauche) */
#colonneGauche > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: calc(100% - 61px);
}
#listeContacts{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-y: auto;
}
#listeContacts > li{
	list-style-type: "- ";
	width: max-content;
	max-width: calc(100% - 20px - 2px);
	margin: 5px 10px;
	padding: 5px 1px;
	cursor: pointer;
	word-wrap: break-word;
}

	/* Informations contact (droite) */
#colonneDroite{
	border-left: 2px solid #cecece;
}
#colonneDroite > form{
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
#colonneDroite > form > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#colonneDroite > form > div:last-child{
	margin-top: 20px;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}
#colonneDroite > form > div:last-child > input{
	width: 30%;
	text-align: center;
}
input.erreur,
select.erreur{
	background-color: rgba(255, 0, 0, 0.4);
}
#nom{
	text-transform: uppercase;
}
#nom::placeholder{
	text-transform: none;
}

/* Version ordinateur portable */
@media only screen and (min-width: 1081px) and (max-width: 1440px){
	/* Corps */
	section > section{
		width: 65vw;
	}
}

/* Version tablette */
@media only screen and (min-width: 800px) and (max-width: 1080px){
	/* Header */
		/* Box centrale */
	#boxCentre > img{
		width: 350px;
		height: 88px;
		line-height: 88px;
	}

	/* Corps */
	section > section{
		width: 90vw;
	}
}

/* Version mobile */
@media screen and (max-width: 799px){
	/* Header */
	header{
		flex-wrap: wrap;
		padding-bottom: 10px;
	}

		/* Box centrale */
	#boxCentre{
		width: 100%;
	}
	#boxCentre > img{
		width: 320px;
		height: 80px;
		line-height: 80px;
		padding: 15px 0 13px;
	}

	/* Corps */
	h1{
		width: 80%;
	}
	section > section{
		width: 98vw;
	}

		/* Section tableau */
	#tableauContacts{
		flex-direction: column;
		height: unset;
	}
	#colonneGauche,
	#colonneDroite{
		width: 100%;
		height: 60vh;
	}
	#colonneGauche{
		border-bottom: 2px solid #ececec;
	}
	#colonneDroite{
		border: none;
		overflow-y: auto;
	}
}

/* Version sombre */
@media (prefers-color-scheme: dark){
	/* Général */
	*{
		scrollbar-color: #1a1a1a #333333;
	}
	body{
		background-color: #333333;
		color: #bfbfbf;
	}

	/* Header */
	header{
		background-color: #010101;
		z-index: 1;
		box-shadow: 0 15px 20px -15px #131313;
	}

	/* Corps */
	h1,
	h2{
		border-image: radial-gradient(#ececec, #232224) 1;
	}
	section > section{
		background-color: #232224;
		box-shadow: 0 15px 20px -15px #131313;
	}

		/* Section tableau */
	#tableauContacts{
		border: 2px solid #131313;
	}

		/* Entrées */
	input,
	button,
	select{
		background-color: #4e4c50;
		color: #bfbfbf;
	}
	button:hover,
	input:hover{
		background-color: #3d3c3f;

	}
	button:active,
	input:active{
		background-color: #302f31;
	}
	input:hover:not(input[type=submit]):not(input[type=reset]),
	input:focus:not(input[type=submit]):not(input[type=reset]){
		background-color: #302f31;
		transition: 0.3s;
	}
	
	/* Champs de recherche (haut) */
	#champsRecherche{
		border-bottom: 2px solid #131313;
	}

		/* Informations contact (droite) */
	#colonneDroite{
		border-left: 2px solid #131313;
	}
}