/* Général */
@font-face{
	font-family: "Open Sans";
	font-display: swap;
	src: url("polices/open-sans-600.woff2") format("woff2"),
		url("polices/open-sans-600.woff") format("woff");
}
*:focus,
*:active{
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
*{
	scrollbar-color: #cdcdcd #f0f0f0;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
body{
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	margin: 0;
}
img{
	user-select: none;
}

/* Header */
header{
	display: flex;
	background-color: #f9f9fb;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 15px 20px -15px #cecece;
}

	/* Box centrale */
#boxCentre{
	display: flex;
	justify-content: center;
	width: 45%;
}
#boxCentre > img{
	width: 390px;
	height: 98px;
	padding: 10px 0;
	line-height: 98px;
	text-align: center;
}

	/* Box droite et gauche */
header::before,
header::after{
	content: "";
	width: 27.5%;
}

/* Corps */
h1,
h2{
	width: 70%;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	border-style: solid;
	border-width: 0 0 4px 0;
	border-image: radial-gradient(#000000, #ffffff) 1;
}
h2{
	font-size: 18px;
	padding: 5px 0;
	border-width: 0 0 2px 0;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > section{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 60vw;
	margin-bottom: 20px;
	padding: 30px 0;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 15px 20px -15px #cecece;
}

	/* Section tableau */
section > section:first-child{
	margin-top: 20px;
}
#tableauContacts{
	display: flex;
	justify-content: center;
	width: 80%;
	border: 2px solid #cecece;
	border-radius: 5px;
	height: calc(100vh - 118px - 40px - 60px - 61px - 4px);
}
#colonneGauche{
	width: 50%;
	height: 100%;
}
#colonneDroite{
	width: 50%;
	border-left: 2px solid #cecece;
}

	/* Liste contacts (gauche) */
ul{
	justify-content: center;
	width: 80%;
	overflow-y: auto;
}
li{
	list-style-type: "- ";
}

	/* Informations contact (droite) */
#colonneDroite > form{
	width: 100%;
}
#colonneDroite > form > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#colonneDroite > form > div:last-child{
	margin-top: 20px;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

input,
select{
	width: 80%;
	margin: 10px 0;
	text-align: center;
}

#colonneDroite > form > div:last-child > input,
#colonneDroite > form > div:last-child > button{
	width: 30%;
}
input.erreur{
	background-color: rgba(255, 0, 0, 0.4);
}



/* Version ordinateur portable */
@media only screen and (min-width: 1081px) and (max-width: 1440px){
	/* Corps */
	section > section{
		width: 65vw;
	}
}

/* Version tablette */
@media only screen and (min-width: 800px) and (max-width: 1080px){
	/* Header */
		/* Box centrale */
	#boxCentre > img{
		width: 350px;
		height: 88px;
		line-height: 88px;
	}

	/* Corps */
	section > section{
		width: 90vw;
	}
}

/* Version mobile */
@media screen and (max-width: 799px){
	/* Header */
	header{
		flex-wrap: wrap;
		padding-bottom: 10px;
	}

		/* Box centrale */
	#boxCentre{
		width: 100%;
		order: 1;
	}
	#boxCentre > img{
		width: 320px;
		height: 80px;
		line-height: 80px;
		padding: 15px 0 13px;
	}

	/* Corps */
	h1{
		width: 80%;
		border-width: 0 0 3px 0;
	}
	section > section{
		width: 98vw;
		margin-bottom: 15px;
	}

		/* Section tableau */
	section > section:first-child{
		margin-top: 15px;
	}
}

/* Version sombre */
@media (prefers-color-scheme: dark){
	/* Général */
	*{
		scrollbar-color: #1a1a1a #333333;
	}
	body{
		background-color: #333333;
		color: #bfbfbf;
	}

	/* Header */
	header{
		background-color: #010101;
		z-index: 1;
		box-shadow: 0 15px 20px -15px #131313;
	}

	/* Corps */
	h1,
	h2{
		border-image: radial-gradient(#ececec, #232224) 1;
	}
	section{
		background-color: #333333;
	}
}